

 
 
 
 *{
      margin:0;
      padding:0;
  }
.button {
       border-color: black;
       width:50px;
       height:50px;    
       font-size:30;
       cursor:pointer;
       margin:2px;
       background:#ec9c07;
       color:white;
       border-radius:50%;
}
.button1 {
       border-color: black;
       width:50px;
       height:50px;
       font-size:25;
       cursor:pointer;
       margin:2;
       background:rgb(163, 160, 160);
       color:black;
       border-radius:50%;
}
.number {
       border-color: black;
       width:50px;
       height:50px;
       font-size:30;
       cursor:pointer;
       margin:2;
       background:rgba(65, 63, 63, 0.575);
       color:white;
       border-radius:50%;
        }
.zero  {
       border-color: black;
       width:100px;
       height:50px;
       font-size:30; 
       cursor:pointer;
       margin:2;
       background:rgba(65, 63, 63, 0.575);
       color:white;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
        }
.bgbox  {
       position:absolute;
       height:400px;
       width:230px;
       background-color:black;
       top:50%;
       left:49%;
       z-index:1;
       border-bottom-left-radius: 17px;
       border-bottom-right-radius: 17px;
       border-top-left-radius: 17px;
       border-top-right-radius: 17px;
       transform:translateX(-51%)
         translateY(-53%)
        }
.textview {
            width:180px;
            margin:5px;
            height:60px;
            font-size:40;
            padding:5px;
            text-align:right;
            color:white;
            background-color:black;
            border-color: black;
        }
        .main{
            position:absolute;
            top:50%;
            left:49%;
            z-index:100;
            transform:translateX(-50%) translateY(-50%)

        }
#bg  {
      background:linear-gradient(90deg,rgb(102, 33, 134),rgb(204, 71, 204));
       height:100%;
      }